/* Import Fonts from Google "Roboto+Mono" */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500;700&display=swap');

/*Start of Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* content Font , background and color */
body {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    background-image: linear-gradient(to left top, #430049, #4d0363, #39025d, #240256, #06004e);
}
/* remove Bullets from evey unordered list  */
ul {
    list-style: none;
}
/* a Tag */
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
/* H3  */
h3 {
    font-weight: lighter;
    font-family: inherit;
}

/* Ends of Globals */

/* Main Container */
.main-container {
    min-height: 100vh;
    margin: 2rem 5rem;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main side"
        "report report report"
        "about about about"
        "contact contact contact"
        "copyright social social";
    gap: 2rem;
}

/* Shared border-radius */
header,
main,
aside,
#reports
#about,
footer,
.copyright,
.contact-container,
.player-card {
    border-radius: 2rem;
}

/* Header */
header {
    height: 8rem;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 1px 0 0 #b700ff73;
}

#logo {
    max-width: 100% ;
    max-height: 7rem;
}

.ballalyze {
    padding: 1rem;
    text-align: center;
    align-self: flex-end;
}

#hero-title {
    font-size: 3rem;
    animation: typing 2s steps(25) normal;
    white-space: nowrap;
    overflow: hidden;
}

/* Navbar */
#nav-links {
    display: flex;
    gap: 1.5em;
}
.nav-bar a:hover {
    text-shadow: -1px -1px 5px #fafafa;
}
.active{
    text-shadow: -1px -1px 2px #fafafa;
}

/* Main */
main {
    grid-area: main;
    box-shadow: -1px 1px 4px 0 #000000bf;
}

.cards-container {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.player-card {
    justify-self: center;
    box-shadow: 0 1px 1px 1px #b700ff73;
    /* padding: 1em; */
    width: 95%;
}

.player-card:hover {
    box-shadow: 1px 1px 0 0 #fff;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 1.5rem 0;
    background-image: linear-gradient(to right bottom, #43004911, #4d036311, #39025d11, #24025611, #07004e11);
    border-radius: 3rem;
    font-weight: lighter;
    letter-spacing: 0;
}
.player-info > h3 {
    text-transform: uppercase;
}
.player-info p {
    font-size: 0.8rem;
    line-height: 10px;
}
.player-info span {
    background-color: #8500a0;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}
.player-pic {
    max-width: 100px;
    max-height: auto;
    border-radius: 10%;
    border: 1px solid #fff;
    margin: 0.5em 0;
}

/* Aside */
aside {
    grid-area: side;
    background-color: rgba(32, 0, 83, 0.26);
    box-shadow: 0 1px 2px 0 #ffffffbf;
    text-align: center;
    padding: 2em;
}

aside h3 {
    padding: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
    font-family: monospace, 'Courier New', Courier, sans-serif;
}

.side-stats {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #3e005a;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem auto;
    width: 75%;
}

.side-stats img {
    padding: 5px;
    max-width: 100%;
    max-height: auto;
    border-radius: 5px;
    border-left: 1px solid rgb(164, 0, 247);
}

.player-name {
    font-size: 1.2rem;
}

.side-stats p {
    padding: 5px 0;
}

.side-stats span {
    background-color: rgb(72, 255, 0);
}

/* Reports */
.report-container {
    grid-area: main;
    background-color: rgba(32, 0, 83, 0.26);
    margin: 2rem;
    padding: 3rem;
    box-shadow: 0 1px 1px 1px #b700ff73;
    border-radius: 3rem;
}

.report-container h3 {
    padding: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    font-family: monospace, 'Courier New', Courier, sans-serif;
}

.report-container p {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.report {
    display: grid;
    grid-template-areas:
        "image statmap"
        "paragraph paragraph"
        "video video";
    gap: 2rem;
}

.player-report-info {
    grid-area: image;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: -1px -1px 0 0 #fff;
    padding: 1rem;
    border-radius: 3rem;
}

#player-report-image {
    max-width: 100%;
    max-height: auto;
    border-radius: 3rem;
}

.report-stats-map {
    max-width: 100%;
    max-height: auto;
    grid-area: statmap;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    border-radius: 3rem;
    box-shadow: 1px 1px 0 0 #fff;
    padding: 1rem;
}

.report-stats-map ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: smaller;
}

.report-stats-map #heat-map {
    border-radius: 3rem;
    transform: rotate(270deg);
}

.player-report-info h4 {
    box-shadow: -2px 0 2px 2px #fff;
    border-radius: 0.5rem;
}

.video {
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

iframe {
    border: 5px solid #000;
    box-shadow: 1px 1px 5px 1px #aa00ff;
    border-radius: 1rem;
    min-height: 450px;
    width: 75%;
}

.report-paragraph {
    grid-area: paragraph;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 2rem;
    margin: 2rem 0;
}

.highlight {
    color: #d400ff;
    font-weight: bold;
}

/* About */
.about {
    grid-area: about;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    margin: 2rem;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: monospace, 'Courier New', Courier, sans-serif;
    padding: 2rem 0;
    font-style: oblique;
}

.about p {
    font-size: 1.1rem;
    margin: 1rem 0;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
}

/* Contact */
.contact-container {
    font-family: monospace;
    font-weight: 600;
    grid-area: contact;
    background-color: #fff;
    box-shadow: 1px 2px 10px 2px #a400f7bf;
    color: #38003d;
    text-align: center;
}

.contact-container h3 {
    padding: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.contact-form .input {
    height: 2rem;
    text-align: center;
    font-size: 1.1em;
    font-family: monospace;
    border: 1px solid #a400f7;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #53017c9a;
}

.contact-form .input:focus {
    border: 1px solid #ea00ff;
}

.contact-form .submit {
    width: 10rem;
    font-family: monospace;
    font-size: 1.5em;
    border: 2px solid #53017c9a;
    border-radius: 10px;
    padding: 10px;
    background-color: #240256;
    color: #fff;
    margin-top: auto;
    text-align: center;
    transition: all 1s;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    background-color: #600569;
}

.contact-form textarea {
    background-color: #240256;
    color: #fff;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    outline: none;
    line-height: 1.5;
    width: 40rem;
    height: 15rem;
    resize: none;
    transition: all 1s;
}

.contact-form textarea:hover {
    cursor: pointer;
    background-color: #600569;
}

.contact-container textarea:focus {
    cursor: text;
    border-color: #38003d;
    box-shadow: 1px 2px 10px 2px #a400f7bf;
}

/* Footer */
.copyright {
    grid-area: copyright;
    background: #fff;
    color: #3e005a;
    padding: 20px;
    text-align: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.disclaimer {
    font-size: 0.8rem;
    color: #ccc;
    text-align: center;
    margin-top: 1rem;
    opacity: 0.7;
    font-style: italic;
}

footer {
    grid-area: social;
    background: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

footer img {
    max-width: 100%;
    width: auto;
    height: auto;
}

footer img:hover {
    transform: rotate(360deg);
    transition: transform 2.5s ease;
}

/* Keyframes */
@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* Media Queries */
/* @media (max-width:1500px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1360px) {
    .main-container {
        grid-template-areas:
            "header"
            "main"
            "side"
            "contact"
            "social"
            "copyright";
    }
}

@media (max-width:950px) {
    .ballalyze {
        visibility: hidden;
    }
}

@media (max-width:880px) {
    .main-container {
        margin: auto;
        grid-template-areas:
            "header"
            "main"
            "side"
            "contact"
            "social"
            "copyright";
        grid-template-columns: 1fr;
        row-gap: 5em;
        column-gap: 2em;
    }

    header {
        height: 5em;
    }

    .cards-container {
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media (max-width:712px) {
    .contact-form textarea {
        width: 25rem;
    }
}

@media (max-width:640px) {
    footer {
        gap: 1rem;
    }
}

@media (max-width:528px) {
    .report {
        font-size: 0.6rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .about {
        font-size: 0.6rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 1rem;
    }

    .contact-form textarea {
        width: auto;
    }
} */