/* importing out fav Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500;700&display=swap');

/* Starts of General Settings
---------------------------- */

/*Reset Everythings*/
*{
    margin: 0;
    padding: 0;
}
/* Body Section  */
/*Setting up the body defualts*/
body{
    height: 100%;
    font-size: 600;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
background-image: linear-gradient(to left top, #430049, #4d0363, #39025d, #240256, #06004e);
}

/* Header Section */
.main-container{
    margin: 2rem 5rem; /* we need space around for later JS background */
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main side"
    "contact contact side"
    "copyright social social "
    ;
    row-gap: 5em;
    column-gap: 2em;
}
header,main,aside,footer,.copyright,.contact-container{
    /* border: 1px solid #fff; */
    border-radius: 50px;

}

/* End of General settings  */

header{
    height: 8em;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 15px 0 #000000bf;
    border-radius: 50px;
}
/* Logo  Image  */
#logo{
    height: 8em;
}
/* Heading -- H1 Element */
.ballalyze{
    text-align: center;
    align-self: flex-end;
}
.ballalyze h1{
    font-size: 2.5em;
    padding-bottom: 0.2em;
    /* Heading animation */
    animation: typing 5s steps(50) normal;
    /* animation-iteration-count: infinite; */
    /* white-space: nowrap; */
    overflow: hidden;
}
.ballalyze p{
    padding: 0.8em;
    text-decoration: underline;
    font-style: italic;
}
/* Main Navbar */
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li{
    /* text-transform: uppercase; */
    margin-right: 1em;
}
/* Links */
/* every link on the page will be by defualt :*/
a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
}
.nav-bar a:hover{
    text-shadow: 0 1px  #fafafa;
}
/* -------------------------------------------- */
/* Main Section */
main{
    grid-area: main;
    /* background-color: #00285C; */
    box-shadow: 5px 5px 15px 0 #000000bf;
}
.cards-container{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 1em;
}
.player-card{
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.20);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 2em;
    margin: 1em;
    width: 50%;
}
.player-card:hover{
    box-shadow: 2px 2px 30px rgb(255, 255, 255);
}
.player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 5px;
}
.player-pic{
    max-width:200px;
    max-height:150px;
    border: 1px solid white;
    border-radius: 25px;
    
}
/* -------------------------------------------- */
/* End of Main Section */
/* -------------------------------------------- */
/* Side Section */

aside{
    grid-area: side;
    background-color: rgba(89, 2, 170, 0.096);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 2em;
    overflow: hidden;
}
.side-stats{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: auto;
    justify-self: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #240256;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    height: auto;
    overflow: hidden;

    

}
.side-stats img{
    padding: 1rem;
    max-width: 5rem;
    max-height: 8rem;
    border-radius: 50%;
    box-shadow: 1px 2px 10px 2px rgba(164, 0, 247, 0.75);
}
.player-name{
    padding: 1rem;
    font-size: 1.5rem;
}
.side-stats p{
    padding: 8px 0;
}
.side-stats span{
    text-decoration: underline;
    background-color: greenyellow;
}
/* -------------------------------------------- */
/* End of Side Section */


/* -------------------------------------------- */
/* Contact Section */

.contact-container{
    position: relative;
    font-family: monospace;
    font-weight: 600;
    grid-area: contact;
    background-color: #fff;
    box-shadow: 1px 2px 10px 2px #a400f7bf;
    color: #38003d;
    text-align:center;
}
.contact-container h3{
    padding: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    font-size: 1.2rem;
}
.contact-form .input{
    height: 2rem;
    text-align: center;
    font-size: 1.1em;
    font-family: monospace;
    border: 1px solid #a400f7;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #53017c9a;
}
.contact-form .input:focus{
    border: 1px solid #ea00ff; 
}
.contact-form .submit{
    width: 10rem;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 1.5em;
    border: 2px solid #53017c9a;
    border-radius: 10px;
    padding: 10px;
    color: #38003d;
    margin-top: auto ;
    text-align: center;
    box-shadow: 0px 0px 25px 5px #53017c9a;
    transition: 0.5s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
}
.contact-form textarea{
    background-color: #240256;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    line-height: 1.5;
    width: 40rem;
    height: 15rem;
    resize: none;
    transition: all 1s;
}
.contact-form textarea:hover{
    cursor: pointer;
    background-color: #600569;
}
.contact-container textarea:focus{
    cursor: text;
    border-color: #38003d;
    box-shadow: 1px 2px 10px 2px #a400f7bf;
}


.copyright{
    grid-area: copyright;
    background-color: transparent;
    box-shadow: 1px 1px 30px 1px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    grid-area: social;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #fff;
    box-shadow: -10px 1px 10px 1px #5a007e;
    height: 5rem;
    padding: 1.5rem;
    
}





/* -------------------------------------------- */
/* Key Frames */

/* Hero Animation */

@keyframes typing{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
/* 
@keyframes slide-up{
    0% , 20%{
        transform: translateY(-10%);
    }
    20% , 40%{
        transform: translateY(-30%);
    }
    40% , 60%{
        transform: translateY(-60%);
    }
    60% , 80%{
        transform: translateY(-90%);
    }
    80% , 100%{
        transform: translateY(-99%);
    }
} */


/* -------------------------------------------- */
/* At Media */

@media (max-width:1500px) {
    .cards-container{
    grid-template-columns: repeat(2,1fr);
    }
    
}

@media (max-width:1360px) {
    .main-container{
    display: grid;
    grid-template-areas: 
    
    "header"
    "main"
    "side"
    "contact"
    "social"
    "copyright "
    ;}
}
@media (max-width:950px) {
    .ballalyze{
        visibility: hidden;
    }
    
}
@media (max-width:880px) {
    .main-container{
    margin: auto auto; /* we need space around for later JS background */
    display: grid;
    grid-template-areas: 
    
    "header"
    "main"
    "side"
    "contact"
    "social"
    "copyright "
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    row-gap: 5em;
    column-gap: 2em;
    }

    header{
        align-self: center;
        height: 5em;
    }
    .cards-container{
        padding: 0px;
        margin: 0px;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    }
    .ballalyze{
        visibility:hidden;
        width: 0px;
    }
}
@media (max-width:712px){
    .main-container{
        overflow: hidden;
        display: block;
    }
    .contact-form textarea{
        width: 25rem;
    }

}
@media (max-width:640px){
    footer{
        gap: 1rem;
    }
}
@media (max-width:528px){
    .main-container{
        font-size: 0.6rem;
        overflow: hidden;
        display: block;
    }
    .contact-form textarea{
        width: 15rem;
    }

}
@media (max-width:528px){
    .main-container{
        font-size: 0.6rem;
        overflow: hidden;
        display: block;
    }
    .contact-form textarea{
        width: 10rem;
    }

}
